<div class="pages">
  <h1>Results</h1>
  <h3>ABV: <%=@abv%></h3>
  <h3>Volume: <%=@volume%></h3>
  <h3>Unit: <%=@unit%></h3>
  <h3>Cost: $<%=@cost%></h3>
  <h3>Number of Servings: <%=@number_of_servings%></h3>
  <h3>Cost per Serving: $<%=@cost_per_serving%></h3>
  <h3>Cost as a standard 750ml bottle of wine: $ <%=@wine_cost%></h3>
  <h3>Cost as a standard 750ml bottle of spirts: $ <%=@spirits_cost%></h3>
  <h3>Cost as a 6pk of 12 fluid ounce bottles of beer: $ <%=@beer_6pk_cost%></h3>
  <h3>Cost as a 4pk of 16 fluid ounce cans of beer: $<%=@beer_4pk_cost%></h3>

  <p class="link"><%= link_to 'Bartender!  Another!', new_home_path %></p>
</div>
