<!DOCTYPE html>
<html>
  <head>
    <title>ElixirEd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <%= render "layouts/header" %>

  <body>
    <%= yield %>
  </body>
    <%= render "layouts/footer" %>
</html>
